*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  font-size: 8px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: translate(1%);
            transform: translate(1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: translate(1%);
            transform: translate(1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: translate(-1%);
            transform: translate(-1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: translate(-1%);
            transform: translate(-1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  padding: 2rem;
  background-color: #daeff5;
}

.heading-primary {
  color: #eee;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading-primary--main {
  display: block;
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 3.5rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2.49rem;
  margin-bottom: 5rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 4.375rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRywnyWTtiPkbuTc-hXlcC6iahvovUtltGqsk0CT_FIWY4RoOBJ&usqp=CAU);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(10deg) scale(1.1);
          transform: skewY(2deg) skewX(10deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(8, 33, 80, 0.4);
}

.heading-tertiary {
  font-size: 3rem;
  color: #0e4c9c;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  text-align: justify;
  font-size: 2.5rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.heading-mid {
  font-size: 3rem;
  color: #0e4c9c;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: underline;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem;
}

.u-margin-bottom-big {
  margin-bottom: 10rem;
}

.u-margin-bottom-xlarge {
  margin-bottom: 20rem;
}

.u-margin-top-small {
  margin-top: 1rem;
}

.u-margin-top-medium {
  margin-top: 5rem;
}

.u-margin-top-big {
  margin-top: 10rem;
}

.u-margin-top-xlarge {
  margin-top: 20rem;
}

.u-min-height {
  min-height: 50%;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -9%;
  margin-bottom: -9%;
}

.section-features {
  padding: 25rem 0;
  height: 95vh;
  /* 95% of a view port height */
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(155, 176, 196, 0.8)), to(rgba(8, 33, 80, 0.8))), url(../img/tr/K5010I.jpg);
  background-image: linear-gradient(to right bottom, rgba(155, 176, 196, 0.8), rgba(8, 33, 80, 0.8)), url(../img/tr/K5010I.jpg);
  background-size: cover;
  /* image will try to cover entire screen space without overlapping */
  background-position: center;
  /* always focus to the center of a container*/
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

.section-features > * {
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

.section-people {
  background-color: #f7f7f7;
  padding: 35rem 0 10rem 0;
  margin-top: -5%;
}

.section-story {
  padding: 1rem 0;
  position: relative;
}

.btn:link, .btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 15rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(5, 2, 54, 0.2);
          box-shadow: 0 1rem 2rem rgba(5, 2, 54, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(5, 2, 54, 0.2);
          box-shadow: 0 0.5rem 0.5rem rgba(5, 2, 54, 0.2);
}

.btn--white {
  background-color: #eee;
  color: #333;
  font-weight: bold;
  font-size: 2.5rem;
}

.btn--white::after {
  background-color: #eee;
}

.btn--blue {
  background-color: #0e4c9c;
  color: #eee;
  font-weight: bold;
  font-size: 2.5rem;
}

.btn--blue::after {
  background-color: #0e4c9c;
}

.btn--animated {
  -webkit-animation: moveInUp 1s ease-out 0.25s;
          animation: moveInUp 1s ease-out 0.25s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-text:link, .btn-text:visited {
  color: #0e4c9c;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.4rem solid #0e4c9c;
  padding: 1rem;
  padding-bottom: .5rem;
  font-size: 2.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #0e4c9c;
  color: #daeff5;
  -webkit-box-shadow: 0 1rem 2rem rgba(8, 33, 80, 0.15);
          box-shadow: 0 1rem 2rem rgba(8, 33, 80, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  border-radius: .8rem;
}

.btn-text:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(5, 2, 54, 0.2);
          box-shadow: 0 0.5rem 0.5rem rgba(5, 2, 54, 0.2);
}

.composition {
  position: relative;
}

.composition__photo {
  margin-left: 4rem;
  width: 60%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(5, 2, 54, 0.7);
          box-shadow: 0 1.5rem 4rem rgba(5, 2, 54, 0.7);
  position: absolute;
  border-radius: 1rem;
  z-index: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline-offset: 2rem;
}

.composition__photo--p1 {
  left: 0;
  top: -3rem;
}

.composition__photo--p2 {
  right: -15%;
  top: 2rem;
}

.composition__photo--p3 {
  left: 25%;
  top: 12rem;
}

.composition__photo:hover {
  outline: 1.5rem solid #0e4c9c;
  -webkit-transform: scale(1.1) translateY(-0.5rem);
          transform: scale(1.1) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(5, 2, 54, 0.7);
          box-shadow: 0 2.5rem 4rem rgba(5, 2, 54, 0.7);
  z-index: 2;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-box {
  background-color: rgba(247, 247, 247, 0.8);
  font-size: 2rem;
  padding: 2rem;
  margin: 2rem 0;
  text-align: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.feature-box__icon {
  font-size: 7rem;
  margin-bottom: 2rem;
  display: inline-block;
  background-image: url(https://lh3.googleusercontent.com/proxy/3F5JkXpbaY-18aZG5emMWxi3HP-MXZNjNAHRz6iW9RX0lYxx3IQ0kHm1B_6Vq6St4g1qaVI1pZ35H_NtszII0gHlgFEf4gIUmORybW9S1hpWug);
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box:hover {
  -webkit-box-shadow: 2rem 2rem 3rem rgba(243, 247, 207, 0.15);
          box-shadow: 2rem 2rem 3rem rgba(243, 247, 207, 0.15);
  -webkit-transform: translateY(-6px) scale(1.03);
          transform: translateY(-6px) scale(1.03);
}

.feature-box__text {
  text-align: justify;
  text-indent: 4rem;
}

.card {
  -webkit-perspective: 180rem;
          perspective: 180rem;
  -moz-perspective: 180rem;
  position: relative;
  height: 70rem;
}

.card__side {
  color: #f7f7f7;
  height: 70rem;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 2rem 4rem rgba(5, 2, 54, 0.2);
          box-shadow: 0 2rem 4rem rgba(5, 2, 54, 0.2);
  text-align: center;
  padding: 20px;
}

.card__side--front {
  background-color: white;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f7c65d), to(#da4910));
  background-image: linear-gradient(to right bottom, #f7c65d, #da4910);
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#baf394), to(#127209));
  background-image: linear-gradient(to right bottom, #baf394, #127209);
}

.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#9bb0c4), to(#082150));
  background-image: linear-gradient(to right bottom, #9bb0c4, #082150);
}

.card__side p {
  font-size: 3rem;
  color: #f3f3f3;
  margin: 0;
  padding-top: 5rem;
}

.card__side h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 6rem;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

.card__side .socials i {
  margin: 3rem 0.5rem;
  color: #141c69;
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 32rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 86%, 33% 98%, 0 90%, 0% 43%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 86%, 33% 98%, 0 90%, 0% 43%, 0 0);
  z-index: 0;
}

.card__picture--1 {
  background-image: url(../img/tr/people/1o.jpg);
  opacity: 0.9;
}

.card__picture--2 {
  background-image: url(../img/tr/people/g1o.jpg);
}

.card__picture--3 {
  background-image: url(../img/tr/people/1b.jpg);
}

.card__heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  font-family: 'ZCOOL XiaoWei', serif;
  text-align: right;
  position: absolute;
  top: 35%;
  right: 4rem;
  width: 75%;
}

.card__heading-span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(247, 198, 93, 0.8)), to(rgba(218, 73, 16, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(247, 198, 93, 0.8), rgba(218, 73, 16, 0.8));
}

.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(186, 243, 148, 0.8)), to(rgba(18, 114, 9, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(186, 243, 148, 0.8), rgba(18, 114, 9, 0.8));
}

.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(155, 176, 196, 0.8)), to(rgba(8, 33, 80, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(155, 176, 196, 0.8), rgba(8, 33, 80, 0.8));
}

.card__details {
  padding: 4rem;
}

.card__details ul {
  list-style: none;
  width: 75%;
  margin: 0 auto;
}

.card__details li {
  text-align: center;
  font-size: 2rem;
  color: #777;
  padding: 1rem;
}

.card__details li:not(:last-child) {
  border-bottom: 1px dotted #777;
}

.story {
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 4rem rgba(14, 76, 156, 0.1);
          box-shadow: 0 3rem 4rem rgba(14, 76, 156, 0.1);
  background-color: rgba(247, 247, 247, 0.5);
  border-radius: 5px;
  padding: 6rem;
  padding-left: 11rem;
  font-size: 2.5rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.story__shape {
  width: 20rem;
  height: 20rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
  position: relative;
  overflow: hidden;
}

.story__img {
  height: 100%;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  -webkit-transform: translateX(-5rem) scale(1.4);
          transform: translateX(-5rem) scale(1.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: #eee;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.story:hover .story__img {
  -webkit-transform: translateX(-5rem) scale(1);
          transform: translateX(-5rem) scale(1);
  -webkit-filter: blur(5px) brightness(80%);
          filter: blur(5px) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  opacity: .25;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: relative;
  height: 95vh;
  /* 95% of a view port height */
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(155, 176, 196, 0.8)), to(rgba(8, 33, 80, 0.8))), url(../img/trold.jpg);
  background-image: linear-gradient(to right bottom, rgba(155, 176, 196, 0.8), rgba(8, 33, 80, 0.8)), url(../img/trold.jpg);
  background-size: cover;
  /* image will try to cover entire screen space without overlapping */
  background-position: center;
  /* always focus to the center of a container*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo-img {
  height: 12rem;
}

.header__main-text-box {
  position: absolute;
  top: 37%;
  left: 33%;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
  text-align: center;
}

.row {
  max-width: 70%;
  margin: 0 auto;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.row:not(:last-child) {
  margin-bottom: 5rem;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 7.5rem;
}

.row .col-1-of-2 {
  width: calc((100% - 7.5rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 7.5rem*2) / 3);
}

.row .col-2-of-3 {
  width: calc(((100% - 7.5rem*2) / 3) *2 + 7.5rem);
}

.row .col-1-of-4 {
  width: calc((100% - 7.5rem*3) / 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row .col-2-of-4 {
  width: calc(((100% - 7.5rem*3) / 4) * 2 + 7.5rem);
}

.row .col-3-of-4 {
  width: calc(((100% - 7.5rem*3) / 4) * 3 + 7.5rem *2);
}
/*# sourceMappingURL=style.css.map */