$colorBack: #e0f0f7; // light blue
$colorPrimary: #f9ed69; //yellow
$colorSecondary: #f08a5d; //orange
$colorGradientLightBlue: #8db2d4; //blue
$colorGradientDarkBlue: #082150; //dark bue
$colorShadow:#050236;

$text-dark: #333; //dark grey
$text-light: #eee; //white

$fontSizeMain: 52.5%;
$width-button: 150px;


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  font-size: $fontSizeMain;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $text-dark;
  padding: 2rem;
  background-color: $colorBack;
  box-sizing: border-box;
}

.header {
  position: relative;
  height: 95vh; /* 95% of a view port height */
  background-image: linear-gradient(
      to right bottom,
      rgba($colorGradientLightBlue, 0.8),
      rgba($colorGradientDarkBlue, 0.8)

    ),
    url(../img/trold.jpg);
  background-size: cover; /* image will try to cover entire screen space without overlapping */
  background-position: center; /* always focus to the center of a container*/
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);

      &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
      }
      &__logo-img {
        height: 12rem;
      }

      &__main-text-box {
        position: absolute;
        top: 37%;
        left: 33%;
        transform: translate(-20%, -20%);
        text-align: center;
      }
}


.heading-primary {
  color: $text-light;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 3.5rem;
  
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  
  &--sub {
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 2.49rem;
    margin-bottom: 5rem;
    animation: moveInRight 1s ease-out;
  }
}



@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    opacity: 0.9;
    transform: translate(1%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    opacity: 0.9;
    transform: translate(-1%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 15rem;
  display: inline-block;
  border-radius: 10rem;

  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-0.3rem);

  box-shadow: 0 1rem 2rem rgba($colorShadow, 0.2);
}

.btn:active {
  transform: translateY(-.1rem);

  box-shadow: 0 .5rem .5rem rgba($colorShadow, 0.2);
}

.btn--white {
  background-color: $text-light;
  color: $text-dark;
  font-weight: bold;
  font-size: 2rem;
}

.btn--animated {
  animation: moveInUp 1s ease-out .25s;
  animation-fill-mode: backwards;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: $text-light;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
