.card {
  //Fuctionality
  perspective: 180rem;
  -moz-perspective: 180rem;
  position: relative;
  height: 70rem;

  &__side {
    color: $color-grey-light1;
    height: 70rem;
    width: 100%;
    backface-visibility: hidden; // or use z-index
    transition: all 0.8s ease;
    // display: flex;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba($colorShadow, 0.2);

    //marina
    text-align: center;
    padding: 20px;

    &--front {
      // background-color: $color-grey-light1;
      background-color: white;
    }
    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $colorGradientLightYellow,
          $colorGradientDarkYellow
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $colorGradientLightGreen,
          $colorGradientDarkGreen
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $colorGradientLightBlue,
          $colorGradientDarkBlue
        );
      }
    }

    p {
      font-size: 3rem;
      color: #f3f3f3;
      margin: 0;
      padding-top: 5rem;
    }

    h3 {
      font-size: 30px;
      font-weight: 700;
      margin-top: 6rem;
      text-transform: uppercase;
      border-bottom: 2px solid #fff;
      padding-bottom: 10px;
    }

    .socials i {
      margin: 3rem 0.5rem;
      color: rgb(20, 28, 105);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  //front side of the card. Image top part styling
  &__picture {
    background-size: cover;

    height: 32rem;
    // width: 100%;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(
      50% 0%,
      100% 0,
      100% 43%,
      100% 86%,
      33% 98%,
      0 90%,
      0% 43%,
      0 0
    );
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 43%,
      100% 86%,
      33% 98%,
      0 90%,
      0% 43%,
      0 0
    );
    z-index: 0;

    &--1 {
      background-image: url(../img/tr/people/1o.jpg);
      opacity: 0.9;
    }

    &--2 {
      background-image: url(../img/tr/people/g1o.jpg);
    }

    &--3 {
      background-image: url(../img/tr/people/1b.jpg);
    }
  }

  &__heading {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family: 'ZCOOL XiaoWei', serif;
    text-align: right;

    position: absolute;
    top: 35%;
    right: 4rem;
    width: 75%;
  }

  &__heading-span {
    //padding: 1.3rem 2rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($colorGradientLightYellow, 0.8),
        rgba($colorGradientDarkYellow, 0.8)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($colorGradientLightGreen, 0.8),
        rgba($colorGradientDarkGreen, 0.8)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($colorGradientLightBlue, 0.8),
        rgba($colorGradientDarkBlue, 0.8)
      );
    }


  }

  &__details {

    padding: 4rem;
    ul {
      list-style: none;
      width: 75%;
      margin: 0 auto;
    }

    li {
      text-align: center;
      font-size: 2rem;
      color: $color-grey-dark;
      padding: 1rem;

      &:not(:last-child){
        border-bottom: 1px dotted $color-grey-dark;
      }
    }
  }
}
