.composition {
  position: relative;

  &__photo {
    margin-left: 4rem;
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba($colorShadow, 0.7);
    position: absolute;
    border-radius: 1rem;
    z-index: 1;
    transition: all .5s;
    outline-offset: 2rem;
 
    &--p1{
      left: 0;
      top: -3rem;
    }

    &--p2{
      right: -15%;
      top: 2rem;
    }

    &--p3{
      left: 25%;
      top: 12rem;
    }

    &:hover{
      outline: 1.5rem solid $colorNavyBlueShade;
      transform: scale(1.1) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($colorShadow, 0.7);
      z-index: 2;
      
    }
  }

  //composition:hover composition__photo:not(:hover)
  &:hover &__photo:not(:hover) {

    transform: scale(.95);
 }
  
}