$colorBack: #daeff5; // light blue
$colorPrimary: #f9ed69; //yellow
$colorSecondary: #f08a5d; //orange
$colorGradientLightBlue: #8db2d4; //blue
$colorGradientDarkBlue: #082150; //dark bue
$colorShadow: #050236;

$text-dark: #333; //dark grey
$text-light: #eee; //white

$fontSizeMain: 52.5%; //defines what 1 rem is
$width-button: 150px; 
