
//COLORS
$colorBack: #daeff5; // light blue
$colorPrimary: #f9ed69; //yellow
$colorSecondary: #f08a5d; //orange
$colorGradientLightBlue: #8db2d4; //blue
$colorGradientDarkBlue: #082150; //dark bue
$colorShadow: #050236;

$color-grey-light1: #f7f7f7;
$color-grey-light2: #d3dadf;
$color-grey-dark: #777;

$text-dark: #333; //dark grey
$text-light: #eee; //white

// $fontSizeMain: 52.5%; //defines what 1 rem is
$fontSizeMain: 8px; //defines what 1 rem is
$width-button: 150px; 

//GRID
$grid-width: 142.5rem ;
$gutter-vertical: 10rem;
$gutter-horizontal: 7.5rem;
