
//COLORS
$colorBack: #daeff5; // light blue
$colorPrimary: #f9ed69; //yellow
$colorSecondary: #f08a5d; //orange
$colorGradientLightBlue: #9bb0c4; //blue
$colorGradientDarkBlue: #082150; //dark bue
$colorShadow: #050236;
$colorLightShadow: #f3f7cf;
$colorNavyBlueShade: #0e4c9c;

$color-grey-light1: #f7f7f7;
$color-grey-light2: #d3dadf;
$color-grey-dark: #777;

//FONTS
$text-dark: #333; //dark grey
$text-light: #eee; //white
$default-font-size: 2.5rem;

// $fontSizeMain: 52.5%; //defines what 1 rem is
$fontSizeMain: 8px; //defines what 1 rem is
$width-button: 150px; 
$min-height: 20%;

//GRID
$grid-width: 70% ;
$gutter-vertical: 10rem;
$gutter-horizontal: 7.5rem;
